@import url('./base.css');
@import url('./design.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;800;900&display=swap');

:root
{
  --picdomain: url("https://picsum.photos/350/200");
  background: lightgray;
  --root-bg: #d3d3d3;
  --secondary-bg: #ffffff;
  font-family: 'Roboto';
  --theme-color: #6200ee;
  --sec-theme-color: #AA4FFF;
}

body {
    padding: 0;
    margin: 0;
    display: block;
}

i {
    cursor: pointer;
}

h1 {
    font-weight: 800;
    text-align: center;
    color: var(--theme-color);
}

input {
    border: none;
}

.component_name {
    text-align: center;
    color: var(--sec-theme-color);
}

/* ================== Cards ================== */

.component {
    display: flex;
    flex-direction: column;
}


.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background: var(--secondary-bg);
}

.card_image {
    width: 350px;
    height: 200px;
    background-image: var(--picdomain);
}

.card_main {
    display: flex;
    flex-direction: column;
}

.card_topic {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.125rem;
}

.card_footer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    color: var(--theme-color);
}

.card_button{
    cursor: pointer;
}

.card_button:hover {
    background: lightpurple;
}

.card_icons {
   margin-left: auto;
}

/* ================= Chips ================== */

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.wrapper {
    max-width: 400px;
    background: var(--secondary-bg);
    height: fit-content;
    width: fit-content;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0px;
    flex: 1 0 auto;
}

.list_item {
    list-style-type: none;
    padding: 8px;
    background: var(--theme-color);
    color: var(--secondary-bg);
}

.stacked_list {
    padding: 0;
}

.input_wrapper {
    max-width: 100%;
    margin: 10px;
    background: var(--secondary-bg);
    border-bottom: 1px solid var(--theme-color);
}

.add_item {
    list-style-type: none;
    padding: 8px;
    background: var(--root-bg);
    color: var(--theme-color);
}

.plus-icon {
    padding-top: 8px;
    margin-left: -32px;
}

/* =========== Header Container ============ */

.header_container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background: var(--theme-color);
    color: var(--secondary-bg);
    min-width: 100%;
    padding: 20px;
}

.header_icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: auto;
}

.header_title {
    font-weight: 400;
}

.fixed {
    position: fixed;
}

.short {
    max-width: 50%;
    margin: auto;
}

.collapsed {
    max-width: 80px;
    margin: auto;
}

/* ========== Badges ========= */

.row_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.varaint-bg {
    padding: 8px 16px;
    background: var(--theme-color);
    color: var(--secondary-bg);
    border: none;
}

.badge {
    position: relative;
    background: var(--theme-color);
    color: var(--secondary-bg);
    padding: 4px;
}

.badge_text {
    top: -9px;
    font-size: 10px;
}

.badge_btn_right {
    color: var(--theme-color);
    background-color: var(--secondary-bg);
    padding: 5px;
    font-size: 15px;
    left: -36px;
    top: -9px;
}

.badge_btn_left {
    color: var(--theme-color);
    background-color: var(--secondary-bg);
    padding: 5px;
    font-size: 15px;
    left: -112px;
    top: -13px;
}

.badge_icon  {
    color: var(--theme-color);
    background-color: var(--secondary-bg);
    padding: 5px;
    font-size: 15px;
    top: -14px;
}

.bigger_text {
    font-size: 20px;
}

.big_icon {
    font-size: 30px;
}